html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#console {
    border-right: 1px solid rgb(29, 29, 29);

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    min-width: 350px;
    max-width: 50%;
    width: 350px;

    resize: horizontal;
    overflow: hidden;

    z-index: 100;
    backdrop-filter: blur(5px);

    user-select: none;
}

#consoleBody {
    padding: 10px;
    font-size: 12px;
    font-family: monospace;
}

#stereoFrame {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    padding: 0;
    margin: 0;

    height: 350px;

    backdrop-filter: blur(5px);
    user-select: none;
}

/* non-selectable text */
.error {
    color: red;
}

.warning {
    color: yellow;
}

.info {
    color: cyan;
}

#statusBar {
    width: 100%;
    color: white;
    padding-top: 10px;
    font-size: 2em;
    text-align: center;
    z-index: 100;
}

#version {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
    font-size: 12px;
    font-family: monospace;
    color: white;
    z-index: 100;
}

#ping {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 12px;
    font-family: monospace;
    color: white;
    z-index: 100;
}

#glCanvas {
    background-image: url("images/xlogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: black;
}
